/* Navbar styles */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #000;
}

header button {
  background-color: #258575;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
  border: none;
}

/* Hero Styles */
.hero {
  background-color: #258575;
  padding: 3rem 3rem 0;
  color: #fff;
  justify-content: center;
  display: flex;
}
.hero-content {
  margin: 20px 0 -50px;
}
.hero-content p {
  text-transform: uppercase;
  line-height: 3rem;
  font-weight: 100;
}
.hero .hero-content h3 {
  justify-items: center;
  font-size: 25px;
}

/* Categories */

/* Categories Section */
.categories {
  margin: 4rem 5rem;
  line-height: 3rem;
}

.categories ul {
  list-style: none;
}

.categories li {
  line-height: 2rem;
  display: inline-flex;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 50px;
  border: 1px solid #818180;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.categories li.active {
  border: 1px solid #d5a100;
}

.categories li:hover {
  background-color: #d5a100;
  color: white;
}

/* Latest Posts Section */
.latest-posts {
  margin: 0 5rem;
  line-height: 2rem;
}

.blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
}

/* Adjust blog layout for small screens */
@media screen and (max-width: 768px) {
  .blog {
    grid-template-columns: 1fr;
  }
}

/* Hover effect for posts */
.blog .col:hover {
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

i.fa-arrow-right {
  transform: rotate(-15deg);
}

.blog .blog-content {
  display: flex;
  align-items: center;
  column-gap: 3rem;
}

.blog .blog-content #study-abroad {
  text-transform: uppercase;
  border: 1px solid #d5a100;
  padding: 2px 10px;
  font-size: 10px;
  border-radius: 30px;
}
